.text-center{
    background-color: lightgray;
    padding: 2%;
    margin-top: 3rem;
}
li:hover .btn-outline-danger {
  display: inline;
}
li {
    position: relative;
}
.list-group-item{
    border-left-style: none;
    border-right-style: none;
}
.btn-outline-danger {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.titulo{
    width: 90%;
}
.primero {
    width: 99%;
    align-self: center;
    padding: 1px;
}
.segundo {
    width: 98%;
    align-self: center;
    padding: 1px;
}
p{
    font-weight: lighter;
    color: gray;
    font-size:x-small;
    margin: 0;
}
h1{
    font-weight: lighter;
    font-size:xxx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:teal;
}

ul{
    list-style-type: none;
    padding: 0;
}
input {
    padding: 10px;
    margin-right: 10px;
    border-style:inherit;
}
.btn{
    border-color: white;
}
.btn-agregar:hover{
    background-color:white;
    border-color:white;
    color: teal;
}
.btn:hover{
    background-color:white;
    border-color:white;
    color: red;
}
.agregar {
    display: flex;
    margin-bottom: 1rem;
}